.container {
    width: 75%;
    height: 100%;
    margin: 50px;
}

.block {
    margin: 20px;
    display: block;
}

.picker {
    width: 200px;
}

.buttons {
    margin: 5px;
}
.labels {
    font-size: 8pt;
    font-style: italic;
}
